
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {

    --purple1: hsl(222, 50%, 10%);
    --purple2: hsl(222, 50%, 20%);
    --purple3: hsl(222, 50%, 30%);
    --purple4: hsl(222, 50%, 40%);
    --purple5: hsl(222, 50%, 50%);

    --blue: hsl(170, 50%, 30%);
    --purple: hsl(222, 50%, 35%);
  }

body {
    background-color: var(--purple2);
    color: white;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

.intro { 
    display: flex;
    position: relative;
    height: 100vh; 
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.intro div:nth-child(1) {
    opacity: 0;
}

.intro div:nth-child(2) {
    display: none;
    flex-direction: column;
    align-items: center;
    animation: fade-in 5s;
}

@keyframes fade-in-intro {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        font-size: 2em;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        font-size: 75%;
    }
}

@keyframes fade-in-nav {
    100% {
        opacity: 1;
    }
}

nav {
    display: none;
    position: sticky;
    top: 10px;
    opacity: 0;
    animation: fade-in-nav 2s linear 2s forwards;
}

@keyframes nav {

}

nav a{
    text-decoration: none;
    background-color: var(--purple1);
    margin: 5px 2px;
    padding: 5px;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--purple5);
    color: var(--purple1);
    font-weight: 600;
}

.container {
    display: none;
    flex-direction: column;
}

.content {
    height: 75vh;
    display: flex;
    flex-direction: column;
   /* justify-content: center; */
    padding: 10% 15%;
}

.content h2 {
    margin: 1em 0;

}

.content:nth-child(odd) {
    background-color: var(--purple5);
}

#photo {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
}

.title {
    display: flex;
}

.information {
    display: flex;
    justify-content: space-between;
}

.information .icons {
    text-align: center;
}

ion-icon {
    font-size: 5em;
    color: yellow;
}

i {
    font-size: 4.06em;
    color: yellow;
}

footer {
    background-color: var(--purple1);
    color: var(--purple4);
    text-align: center;
}